.practice{
    text-align: center;
    width: 600px;
    height: 300px;
    box-shadow: 3px 3px 5px 20px lightblue;
    margin-top: 120px;
    
}

.ami{
    display: flex;
    justify-content: center;
}